
@font-face {
    font-family: 'Discord1';
    src: url('../assets/fonts/discord1.woff2');
}

@font-face {
    font-family: 'Discord2';
    src: url('../assets/fonts/discord2.woff2');
}

@font-face {
    font-family: 'Discord3';
    src: url('../assets/fonts/discord3.woff2');
}

@font-face {
    font-family: 'Discord4';
    src: url('../assets/fonts/discord4.woff2');
}

@font-face {
    font-family: 'Discord5';
    src: url('../assets/fonts/discord5.woff2');
}

@font-face {
    font-family: 'Discord6';
    src: url('../assets/fonts/discord6.woff2');
}
