@font-face {
    font-family:'hbo1' ;
    src: url(../assets/fonts/hbo1.woff2);
}
@font-face {
    font-family:'hbo2' ;
    src: url(../assets/fonts/hbo2.woff2);
}
@font-face {
    font-family:'hbo3' ;
    src: url(../assets/fonts/hbo3.woff2);
}
@font-face {
    font-family:'hbo4' ;
    src: url(../assets/fonts/hbo4.woff2);
}
@font-face {
    font-family:'hbo5' ;
    src: url(../assets/fonts/hbo5.woff2);
}
@font-face {
    font-family:'hbo6' ;
    src: url(../assets/fonts/hbo6.woff2);
}
@font-face {
    font-family:'hbo7' ;
    src: url(../assets/fonts/hbo7.woff2);
}
@font-face {
    font-family:'hbo8' ;
    src: url(../assets/fonts/hbo8.woff2);
}
@font-face {
    font-family:'hbo9' ;
    src: url(../assets/fonts/hbo10.woff2);
}

