* {

    margin: 0px;
    box-sizing: border-box;

}

@font-face {
    font-family: font1;
    src: url('../assets/font/fonte1.woff2');
}

@font-face {
    font-family: font2;
    src: url('../assets/font/fonte2.woff2');
}

@font-face {
    font-family: font3;
    src: url('../assets/font/fonte3.woff2');
}

@font-face {
    font-family: font4;
    src: url('../assets/font/fonte4.woff2');
}

@font-face {
    font-family: font5 ;
    src: url('../assets/font/fonte5.woff2');
}

@font-face {
    font-family: font6 ;
    src: url('../assets/font/fonte6.woff2');
}

