@font-face {
    font-family: 'imo1';
    src: url('../assets/font/FBVwdDflz-iPfoPuIC2iKgEB_UBFJg.woff2');
}

@font-face {
    font-family: 'imo2';
    src: url('../assets/font/FBVwdDflz-iPfoPuIC2iKh0C_UBFJg.woff2');
}

@font-face {
    font-family: 'imo3';
    src: url('../assets/font/FBVwdDflz-iPfoPuIC2iKnkD_UBFJg.woff2');
}

@font-face {
    font-family: 'imo4';
    src: url('../assets/font/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2');
}

@font-face {
    font-family: 'imo5';
    src: url('../assets/font/KFOlCnqEu92Fr1MmEU9fBBc4.woff2');
}

@font-face {
    font-family: 'imo6';
    src: url('../assets/font/KFOmCnqEu92Fr1Mu4mxK.woff2');
}

@font-face {
    font-family: 'imo7';
    src: url('../assets/font/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2');
}

@font-face {
    font-family: 'imo8';
    src: url('../assets/font/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2');
}

@font-face {
    font-family: 'imo9';
    src: url('../assets/font/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2');
}